{% extends "base.html" %}
{% block stitle %}Hello{% endblock stitle %}
{% block navbar %}{{block.super}}{% endblock navbar %}
{% block content %}

<div class="container mt-5">
	<div class="row justify-content-center align-content-center">
		<p>
			<h4>Рад знакомству, {{name}}!!!</h4>
		</p>
	</div>
	<div class="row justify-content-center align-content-center">
		<p>
			<a href="{% url 'index' %}" сls="btn btn-info">Вернуться на главную</a>
		</p>
	</div>
	<div class="row justify-content-center align-content-center">
		<p>
			<a href="{% url 'register' name=name %}">Продолжить знакомство!</a>
		</p>
	</div>
</div>

{% endblock content %}
